@import "tailwindcss";

@theme {
  --color-background: #0b0e14;
  --color-foreground: #f8fafc;
  --color-border: rgba(255, 255, 255, 0.1);
  
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

@layer base {
  * {
    @apply border-[--color-border];
  }
  body {
    @apply bg-[--color-background] text-[--color-foreground] antialiased;
    background-color: #0b0e14;
  }
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}