@import "tailwindcss";

@theme {
  --color-background: #0b0e14;
  --color-foreground: #f8fafc;
  --color-border: rgba(255, 255, 255, 0.1);
  
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

@layer base {
  * {
    @apply border-[--color-border];
  }
  body {
    @apply bg-[--color-background] text-[--color-foreground] antialiased;
    background-color: #0b0e14;
  }
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  75% { transform: translateX(4px); }
}

.animate-shake {
  animation: shake 0.2s ease-in-out infinite;
}